.estate-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
    overflow: auto;
    max-height: 92%;
    gap: 20px;
    position: relative;
}

.estate-grid .estate-item{
    margin: 0;
}

.estate-item {
    margin: 20px;
    width: 24%;
    padding: 10px;
    color: var(--grey);
    background-color: var(--blk);
    border-radius: 8px;
    cursor: inherit;
    transition: all 0.4s ease;
    box-sizing: border-box;
}


@media screen and (max-width: 1670px) {  .estate-item {width: 32%;}  }
@media screen and (max-width: 1200px) {  .estate-item {width: 40%;}  }
@media screen and (max-width: 800px) {  .estate-item {width: 47%;}  }
@media screen and (max-width: 600px) {  .estate-item {width: 100%; } }


.estate-grid::-webkit-scrollbar {
    width: 10px;
}

.estate-grid::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--blk);
}

.estate-grid::-webkit-scrollbar-thumb {
    background-color: #9b9b9b50;
    border-radius: 6px;
}
.estate-item a {
    text-decoration: none;
    color: inherit;
}

.estate-attributes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.estate-row {
    display: flex;
    justify-content: space-between;
}
.estate-title {
    padding: 5px;
    height: 12%;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 12px;
}

.estate-status {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    width: max-content;
    display: flex;
    justify-content: flex-end;
}

.estate-status.active { color: #2ba972; background-color: rgba(43, 169, 114, 0.2);}
.estate-status.not-active { color: #59719d; background-color: rgba(89, 113, 157, 0.2);}



.estate-edit {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
    border-top: 1px solid var(--grey);
}

.estate-edit:hover {
    color: var(--white);
}